/* Reset */

:root {
  /* Primary */
  --Dark-Blue-email-bg: #1c2431;
  --Dark-Blue-main-bg: #181f2a;
  --Dark-Blue-footer-bg: #0b1523;
  --Dark-Blue-testimonials-bg: #202a3c;
  /* Accent */
  --Cyan-gradient: #65e2d9;
  --Blue-gradient: #339ecc;
  --Light-Red: #ff4242;
  /* Neutral */
  --White: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  Font-size: 14px;
  color: var(--White);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

/* Header */

header {
  display: flex;
  padding: 4rem;
  justify-content: space-between;
  align-items: center;
  background: var(--Dark-Blue-main-bg);
}

header a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

header a:not(:first-child) {
  margin-left: 4rem;
}

/* Main */

main {
  background: var(--Dark-Blue-main-bg);
}

/* Section Intro */

.intro {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  flex-direction: column;
}

.intro img {
  margin-bottom: 3rem;
}

.intro h1 {
  width: 760px;
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 3rem;
}

.intro p {
  width: 410px;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.7rem;
}

.intro button {
  width: 200px;
  padding: 1rem;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 2rem;
  background: linear-gradient(90deg, var(--Cyan-gradient), var(--Blue-gradient));
}

/* Section Features */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.feature {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature img {
  margin-bottom: 2rem;
}

.feature h2 {
  margin-bottom: 0.5rem;
}

.feature p {
  text-align: center;
  line-height: 1.7rem;
  margin-bottom: 6rem;
}

/* Footer */

footer {
  background: var(--Dark-Blue-footer-bg);
}

/* (Headings, Call-to-actions, Header Navigation) */